{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block nav %}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/meus-chamados">Meus Chamados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/atendimento">Atendimento</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    
{% endblock %}

{% block main %}

    <h1>Index</h1>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </ul>

    <div>
        
    </div>

    <script>
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
        return new bootstrap.Dropdown(dropdownToggleEl)
        })
    </script>
{% endblock %}
