{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block nav %}
    
{% endblock %}

{% block body %}
    
{% endblock %}

{% block main %}
    <div class="container-fluid height-container">
        <div class="row height-flex">
            <div class="col-2 py-5 nav-border border-end border-grey bg-light height-overflow" style="border-top: 0px;">  
                <ul class="nav flex-column">
                    <li class="nav-item py-2">
                        <a class="nav-link active" aria-current="page" href="/">Meus chamados</a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" href="/atendimento">Atendimento</a>
                    </li>
                </ul>
            </div>

            <div class="col-10 py-4 px-0 height-overflow">
                <div class="position-relative me-3">
                    <div class="d-flex justify-content-end">
                        <form action="/abrir-chamado" method="get">
                            <button class="btn btn-secondary" type="submit">Abrir Chamado</button>
                        </form>
                    </div>
                </div>

                <ul class="list-group list-group-flush py-5">
                    <li class="list-group-item py-0">
                        <div class="container-fluid px-0">
                            <div class="row">
                                <div class="col-1 border-end border-grey">
                                    <p class="fs-6 my-0 text-center">Code</p>
                                </div>
                                <div class="col-6 border-end border-grey text-center">
                                    <p class="fs-6 my-0 text-center">Description</p>
                                </div>
                                <div class="col-1 border-end border-grey text-center">
                                    <p class="fs-6 my-0 text-center">Open Date</p>
                                </div>
                                <div class="col-2 border-end border-grey text-center">
                                    <p class="fs-6 my-0 text-center">User</p>
                                </div>
                                <div class="col-1 border-end border-grey text-center">
                                    <p class="fs-6 my-0 text-center">Close Date</p>
                                </div>
                                <div class="col-1 text-center">
                                    <p class="fs-6 my-0 text-center">Status</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item py-3">
                        <div class="container-fluid px-0">
                            <div class="row">
                                <div class="col-1 border-red">
                                    CODE
                                </div>
                                <div class="col-6 border-red">
                                    DESCRIPTION
                                </div>
                                <div class="col-1 border-red">
                                    OPEN DATE
                                </div>
                                <div class="col-2 border-red">
                                    USER
                                </div>
                                <div class="col-1 border-red">
                                    CLOSE DATE
                                </div>
                                <div class="col-1 border-red">
                                    STATUS
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item py-3">A second item</li>
                    <li class="list-group-item py-3">A third item</li>
                    <li class="list-group-item py-3">A fourth item</li>
                    <li class="list-group-item py-3">And a fifth one</li>
                    <li class="list-group-item py-3">An item</li>
                    <li class="list-group-item py-3">A second item</li>
                    <li class="list-group-item py-3">A third item</li>
                    <li class="list-group-item py-3">A fourth item</li>
                    <li class="list-group-item py-3">And a fifth one</li>
                    <li class="list-group-item py-3">An item</li>
                    <li class="list-group-item py-3">A second item</li>
                </ul>
            </div>
        </div>
    </div> 
{% endblock %}
