{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block nav %}
    
{% endblock %}

{% block body %}
    
{% endblock %}

{% block main %}
    <div class="container-fluid height-container">
        <div class="row height-flex">
            <div class="col-2 py-5 nav-border border-end border-grey bg-light height-overflow" style="border-top: 0px;">  
                <ul class="nav flex-column">
                    <li class="nav-item py-2">
                        <a class="nav-link active" aria-current="page" href="/">Meus chamados</a>
                    </li>
                    <li class="nav-item py-2">
                        <a class="nav-link" href="/atendimento">Atendimento</a>
                    </li>
                </ul>
            </div>

            <div class="col-10 py-4 px-0 height-overflow">
                <div class="position-relative me-3">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Abrir Chamado
                        </button>
                    </div>
                </div>
                
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Abrir Chamado</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/abrir-chamado" method="post" class="row g-1" id="abrir-chamado">
                                    <div class="mb-3 form-floating">
                                        <input id="floatingInput" type="text" name="resumo" class="form-control" placeholder="Resumo" maxlength="50" required>
                                        <label for="floatingInput">Resumo</label>
                                    </div>
                                    <div class="mb-3 form-floating">
                                        <textarea name="description" class="form-control" maxlength="500" placeholder="Descrição" id="floatingTextArea" style="resize: none; height: 220px;" required></textarea>
                                        <label for="floatingTextArea">Descrição</label>
                                    </div>
                                    <div class="mb-3 col-md-5">
                                        <select class="form-select" aria-label="Default select example" required>
                                            <option selected disabled>Dpto. Destino</option>
                                            {% for depto in supports %}
                                            <option value="{{ depto[0] }}">{{ depto[1] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="submitBtn">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="list-group list-group-flush py-5">
                    <li class="list-group-item py-0">
                        <div class="container-fluid px-0">
                            <div class="row">
                                <div class="col-1 border-end border-grey">
                                    <p class="fs-6 my-0 text-center">Code</p>
                                </div>
                                <div class="col-6 border-end border-grey text-center">
                                    <p class="fs-6 my-0 text-center">Description</p>
                                </div>
                                <div class="col-1 border-end border-grey text-center">
                                    <p class="fs-6 my-0 text-center">Open Date</p>
                                </div>
                                <div class="col-2 border-end border-grey text-center">
                                    <p class="fs-6 my-0 text-center">User</p>
                                </div>
                                <div class="col-1 border-end border-grey text-center">
                                    <p class="fs-6 my-0 text-center">Close Date</p>
                                </div>
                                <div class="col-1 text-center">
                                    <p class="fs-6 my-0 text-center">Status</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item py-3">
                        <div class="container-fluid px-0">
                            <div class="row">
                                <div class="col-1 border-red">
                                    CODE
                                </div>
                                <div class="col-6 border-red">
                                    DESCRIPTION
                                </div>
                                <div class="col-1 border-red">
                                    OPEN DATE
                                </div>
                                <div class="col-2 border-red">
                                    USER
                                </div>
                                <div class="col-1 border-red">
                                    CLOSE DATE
                                </div>
                                <div class="col-1 border-red">
                                    STATUS
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item py-3">A second item</li>
                    <li class="list-group-item py-3">A third item</li>
                    <li class="list-group-item py-3">A fourth item</li>
                    <li class="list-group-item py-3">And a fifth one</li>
                    <li class="list-group-item py-3">An item</li>
                    <li class="list-group-item py-3">A second item</li>
                    <li class="list-group-item py-3">A third item</li>
                    <li class="list-group-item py-3">A fourth item</li>
                    <li class="list-group-item py-3">And a fifth one</li>
                    <li class="list-group-item py-3">An item</li>
                    <li class="list-group-item py-3">A second item</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("submitBtn").addEventListener("click", function() {
            document.getElementById("abrir-chamado").submit();
        });
    </script>
{% endblock %}
