{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="container py-5">
    <form action="/register" method="post">
        <div class="mb-3">
            <input name="user" placeholder="Usuário" type="text" class="form-control mx-auto w-auto" autocomplete="off" autofocus>
        </div>
        <div class="mb-3">
            <input name="name" placeholder="Nome" type="text" class="form-control mx-auto w-auto" autocomplete="off">
        </div>
        <div class="mb-3">
            <input name="dep" placeholder="ID Departamento" type="number" class="form-control mx-auto w-auto" autocomplete="off">
        </div>
        <div class="mb-3">
            <input name="password" placeholder="Senha" type="password" class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <input name="confirm" placeholder="Confirmar-senha" type="password" class="form-control mx-auto w-auto">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}