{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="container-md py-5 text-center">
    <form action="/register" method="post" class="container" style="width: 300px;">
        <div class="mb-3 form-floating">
            <input name="user" type="text" class="form-control" id="floatingInput" placeholder="Usuário" autocomplete="off" autofocus>
            <label for="floatingInput">Usuário</label>
        </div>
        <div class="mb-3 form-floating">
            <input name="name" type="text" class="form-control" id="floatingInput" placeholder="Nome" autocomplete="off">
            <label for="floatingInput">Nome</label>
        </div>
        <div class="mb-3 form-floating">
            <input name="dep" type="number" class="form-control" placeholder="ID Departamento" id="floatingNumber" autocomplete="off">
            <label for="floatingNumber">ID Departamento</label>
        </div>
        <div class="mb-3 form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Senha">
            <label for="floatingPassword">Senha</label>
        </div>
        <div class="mb-3 form-floating">
            <input name="confirm" type="password" class="form-control" id="floatingPassword" placeholder="Confirmar Senha">
            <label for="floatingPassword">Confirmar senha</label>
        </div>
        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>
</div>

{% endblock %}