{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="container py-5">
    <form action="/register" method="post">
        <div class="mb-3">
            <label style="margin-left: -150px;">Usuário</label>
            <input name="user" type="text" class="form-control mx-auto w-auto" autocomplete="off" autofocus>
        </div>
        <div class="mb-3">
            <label style="margin-left: -165px;">Nome</label>
            <input name="name" type="text" class="form-control mx-auto w-auto" autocomplete="off">
        </div>
        <div class="mb-3">
            <label style="margin-left: -80px;">ID Departamento</label>
            <input name="dep" type="number" class="form-control mx-auto w-auto" autocomplete="off">
        </div>
        <div class="mb-3">
            <label style="margin-left: -160px;">Senha</label>
            <input name="password" type="password" class="form-control mx-auto w-auto">
        </div>
        <div class="mb-3">
            <label style="margin-left: -85px;">Confirmar senha</label>
            <input name="confirm" type="password" class="form-control mx-auto w-auto">
        </div>
        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>
</div>
{% endblock %}